* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    flex-wrap: wrap;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(91, 91, 138);
}

#pcNum, #userNum {
    font-size: 20px;
    font-weight: bolder;
}

.dicePc,
.diceUse {
    text-align: center;
    flex-wrap: wrap;
    width: 50%;
    filter: drop-shadow(5px 5px 3px);
    border: 1px solid black;
    border-radius: 10px;


    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    height: 100px;
    width: 100px;
    background-color: rgb(179, 100, 100);
}

#result {
    font-size: 70px;
    width: 100%;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;

}